In [2]:
#Importing relevant libraries
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Connecting to the database
conn_str = ('DRIVER={ODBC Driver 17 for SQL Server};Server=analiza.database.windows.net;Database=AnalizaDB;UID=qa3107;PWD=fA8r2J2_DZH<;')
conn = pyodbc.connect(conn_str)

In [ ]:
#Data Collection And Loading
datasets_names= ['Products','Suppliers','[Order Details]','Categories','Territories','Region','EmployeeTerritories','Employees','Orders','Shippers','Customers']
dataframes = [] #a list of all dataframes loaded, later used for quick review of all datasets loaded. 
def get_dataset(dataset):
    dataset = pd.read_sql(f"SELECT * FROM Northwind.{dataset}", conn)
    return dataset

for dataset in datasets_names:
    dataframe = get_dataset(dataset)
    dataframe.name = f'{dataset}' #Adding a name for each dataframe for later readability
    dataframes.append(dataframe) 

conn.close

C:\Users\ys170\AppData\Local\Temp\ipykernel_12668\1573331519.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataset = pd.read_sql(f"SELECT * FROM Northwind.{dataset}", conn)

In [38]:
#Making sure all data was loaded properly

#looking for 11 dataframes 
print(len(dataframes)) 
for df in dataframes:
    print(type(df))

#Making sure each dataset was loaded at full size with all fields and columns. 
for df in dataframes:
    print(df.name)
    print(df.shape)
    print(df.info())
    print("--------\n")

11
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
Products
(77, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ProductID        77 non-null     int64
 1   ProductName      77 non-null     object
 2   SupplierID       77 non-null     int64
 3   CategoryID       77 non-null     int64
 4   QuantityPerUnit  77 non-null     object
 5   UnitPrice        77 non-null     float64
 6   UnitsInStock     77 non-null     int64
 7   UnitsOnOrder     77 non-null     int64
 8   ReorderLevel     77 non-null     int64
 9   Discontinued     77 non-null     bool
dtypes: bool(1), float64(1), int64(6), object(2)
memory usage: 5.6+ KB
None
--------

Suppliers
(29, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SupplierID    29 non-null     int64
 1   CompanyName   29 non-null     object
 2   ContactName   29 non-null     object
 3   ContactTitle  29 non-null     object
 4   Address       29 non-null     object
 5   City          29 non-null     object
 6   Region        9 non-null      object
 7   PostalCode    29 non-null     object
 8   Country       29 non-null     object
 9   Phone         29 non-null     object
 10  Fax           13 non-null     object
 11  HomePage      5 non-null      object
dtypes: int64(1), object(11)
memory usage: 2.8+ KB
None
--------

[Order Details]
(2155, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    2155 non-null   int64
 1   ProductID  2155 non-null   int64
 2   UnitPrice  2155 non-null   float64
 3   Quantity   2155 non-null   int64
 4   Discount   2155 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 84.3 KB
None
--------

Categories
(8, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CategoryID    8 non-null      int64
 1   CategoryName  8 non-null      object
 2   Description   8 non-null      object
 3   Picture       8 non-null      object
dtypes: int64(1), object(3)
memory usage: 388.0+ bytes
None
--------

Territories
(53, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TerritoryID           53 non-null     object
 1   TerritoryDescription  53 non-null     object
 2   RegionID              53 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
--------

Region
(4, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RegionID           4 non-null      int64
 1   RegionDescription  4 non-null      object
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None
--------

EmployeeTerritories
(49, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   49 non-null     int64
 1   TerritoryID  49 non-null     object
dtypes: int64(1), object(1)
memory usage: 916.0+ bytes
None
--------

Employees
(9, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EmployeeID       9 non-null      int64
 1   LastName         9 non-null      object
 2   FirstName        9 non-null      object
 3   Title            9 non-null      object
 4   TitleOfCourtesy  9 non-null      object
 5   BirthDate        9 non-null      datetime64[ns]
 6   HireDate         9 non-null      datetime64[ns]
 7   Address          9 non-null      object
 8   City             9 non-null      object
 9   Region           5 non-null      object
 10  PostalCode       9 non-null      object
 11  Country          9 non-null      object
 12  HomePhone        9 non-null      object
 13  Extension        9 non-null      object
 14  Photo            9 non-null      object
 15  Notes            9 non-null      object
 16  ReportsTo        8 non-null      float64
 17  PhotoPath        9 non-null      object
dtypes: datetime64[ns](2), float64(1), int64(1), object(14)
memory usage: 1.4+ KB
None
--------

Orders
(830, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderID         830 non-null    int64
 1   CustomerID      830 non-null    object
 2   EmployeeID      830 non-null    int64
 3   OrderDate       830 non-null    datetime64[ns]
 4   RequiredDate    830 non-null    datetime64[ns]
 5   ShippedDate     809 non-null    datetime64[ns]
 6   ShipVia         830 non-null    int64
 7   Freight         830 non-null    float64
 8   ShipName        830 non-null    object
 9   ShipAddress     830 non-null    object
 10  ShipCity        830 non-null    object
 11  ShipRegion      323 non-null    object
 12  ShipPostalCode  811 non-null    object
 13  ShipCountry     830 non-null    object
dtypes: datetime64[ns](3), float64(1), int64(3), object(7)
memory usage: 90.9+ KB
None
--------

Shippers
(3, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ShipperID    3 non-null      int64
 1   CompanyName  3 non-null      object
 2   Phone        3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
--------

Customers
(91, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    91 non-null     object
 1   CompanyName   91 non-null     object
 2   ContactName   91 non-null     object
 3   ContactTitle  91 non-null     object
 4   Address       91 non-null     object
 5   City          91 non-null     object
 6   Region        31 non-null     object
 7   PostalCode    90 non-null     object
 8   Country       91 non-null     object
 9   Phone         91 non-null     object
 10  Fax           69 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB
None
--------

In [ ]:
#Isolating each dataset 

Products = dataframes[0]
Suppliers = dataframes[1]
OrderDetails = dataframes[2]
Categories = dataframes[3]
Territories = dataframes[4]
Region = dataframes[5]
EmployeeTerritories = dataframes[6]
Employees = dataframes[7]
Orders = dataframes[8]
Shippers = dataframes[9]
Customers = dataframes[10]

pandas.core.frame.DataFrame

In [ ]:
#Data Cleaning and Preprocessing 

#Renaming [Order Details] both on the isolated dataframe and on the dataframes list
OrderDetails.name = 'OrderDetails'
dataframes[2].name = 'OrderDetails'

#Renaming UnitPrice column in Products to improve clarity.

Products['UnitPrice'].rename('UnitCost')

0      9.000
1      9.500
2      5.000
3     11.000
4     10.675
       ...
72     7.500
73     5.000
74     3.875
75     9.000
76     6.500
Name: UnitCost, Length: 77, dtype: float64

Products
Suppliers
OrderDetails
Categories
Territories
Region
EmployeeTerritories
Employees
Orders
Shippers
Customers